<ion-view view-title="Chickens">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="chicken in chickens" type="item-text-wrap" href="#/tab/chickens/{{chicken.id}}">
        <img ng-src="{{chicken.face}}" height="250px" width="250px">
        <h3>{{chicken.name}}</h3>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chicken)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
