<ion-view view-title="Backyard Chickens" class="mycolor">
  <ion-content class="padding">
    <h2 class="energized">Chickens in your Yard
</h2>
    <p class = "stable">
    If you like eggs, and pets, you might like to have a chicken coop in your backyard.

    </p>
    <p class = "stable">
      To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>
    <p class = "stable">
    Not all chickens are alike, some are tame and can become very friendly to you and your family, some lay lots of eggs, some lay very few eggs. You want a breed that is fairly low maintenance if you're looking to have a coop in your yard.
    </p>
    <image src="../img/eggs.png">

    <p class = "stable">
      These eggs look great don't they? If you want to raise chickens in your back yard, even in a city yard, be sure to pick the right kind of chicken for you and your family. Not all chickens are alike! <a href="http://modernfarmer.com/2014/07/raising-backyard-chickens-dummies/"/>Here</a> is a nice place to start learning about your backyard chickens!
    </p>
  </ion-content>
</ion-view>
